---
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
---

<MainLayout activePage="about" pageTitle={siteConfig.title + " | About"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.about?.title}</h1>
    <p class="kanit-light text-left">
      {siteConfig.about?.text}
    </p>
  </div>
</MainLayout>
