---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { getPostDate, getPostDescription, getPostImage, withBase } from "../utils/helpers";

type Props = { post: CollectionEntry<"blogs"> };
const { post } = Astro.props;
const { title } = post.data;
const pubDate = getPostDate(post);
const description = getPostDescription(post);
const image = getPostImage(post);
---

<a class="font-bold" href={withBase("/blog/" + post.id)}>
  <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
    {
      image && (
        <img
          class="w-full sm:w-[300px] h-auto rounded-xl"
          src={image}
          alt={title || ""}
          width="300"
          height="167"
          loading="lazy"
        />
      )
    }
    <div class="flex flex-col max-w-fit">
      <h2 class="mb-1">{title}</h2>
      <FormattedDate date={pubDate} />
      {
        description && (
          <p class="font-light text-base text-balance">{description}</p>
        )
      }
    </div>
  </div>
</a>
